.topbar {
    overflow: hidden;
    float: top;
    height: 10%;
    background-color: #20232a;
    text-align: center;
}
.topbar h1 {
    color: #61dbfb;
    display: inline-block;
}
.topbar Button {
    margin: 2%;
    position: absolute;
}
