.topbar {
    overflow: hidden;
    float: top;
    height: 10vh;
    background-color: #20232a;
    text-align: center;
}
.topbar h1 {
    color: #61dbfb;
    display: inline-block;
}
.topbar Button {
    right: 0;
    margin: 10px;
    margin-top: 20px;
    position: absolute;
}
